.botonIcono 
{
    cursor:pointer;
    font-size:1em;
    background-color:transparent
}

.botonIconoNormal
{
    cursor:pointer;
}

.colorFondo{
    background-color:#216692;
}

.colorBlanco {
    color:white;
}

.tamanoLabelForm {
    font-size:1.5em;
}

.sombraA {
    box-shadow: 0 0 20px #FFFFFF;
}

.redondeadoA {
     border-radius: 20px;
}

.visorPdf {

    width:100%;
    height:800px;

}

.imgEspera {
    
    width:16px;
    height:16px;
    position:absolute;
    right:10px;
    bottom:10px;
    
}

.imgError {
    
    width:20px;
    height:20px;
    position:absolute;
    right:10px;
    bottom:8px;
    cursor:pointer;
    
}

.imgEsperaBig {

    position:absolute;
    top:40%;
    left:40%;
    width:20%
}

#divVersion {
    position:absolute;
    display:block;
    width:100%;
    height:20px;
    bottom:10px;
}

#lblVersion {
    display:block;
    width:97%;
    text-align:center;
    color:white;
    font-size:xx-small;
    font-weight:lighter;
}

.logincontainer{
    position:fixed;
}

#btnIngresar{
    font-family:Arial;
    font-size:22px;
    color:#fff
}
#btnIngresar:hover {
    color:#216692
}

#panelRigth{
    padding-left:0px;
    padding-right:0px;
}
#tblusuarios_filter{
    float: right;
    margin-right: 14%;
}

#tblusuarios_length{
    margin-top: 2px;
}

#gerencias{
    margin-top:2px;
    margin-bottom:2px
}
#secretaria {
    margin-top:2px;
    margin-bottom:2px
}

#tblcolaboradorautorizador_filter{
    float: right;
}

#tblsecretariasgerencia_filter{
    float: right;
}

#tblalimentacionterrestre_filter{
    float: right;
}

#tblhotelasumido_filter{
    float: right;
}

#tbltarifaextranjera_filter {
    float: right;
}

#tbltarifaterrestre_filter{
    float: right;
}

#tbltarifapeaje_filter{
    float: right;
}

@media (max-width: 1400px) and (min-width: 770px) {
}

.Itr{
    width:25%
}