body {
}

#panelLeft {
    overflow-y:auto;
    top:60px;
}

#panelRigth {
    overflow-x:auto;
    top:60px;
}

#formModUsuarios{
    overflow-y:auto;
}

#alertamensaje{
    text-align: center;
    align-content: center;
}

/*/.jumbotron{
    align-content:center;
}

.navbar-default{
    background-color: #1F6591;
    border-color: #1F6591;
}*/

.Cargo{
    width: 100%;
    height: 36px;
}
